<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div *ngIf="scannedData.text == 'resolve'" class="scanresult green" >
	<label>Your barcode is</label>
		<br>
		<span>{{scannedData.text}}</span>
</div>
<div *ngIf="scannedData.text == 'reject'" class="scanresult red" >
	<label>Your barcode is</label>
		<br>
		<span>{{scannedData.text}}</span>
</div>
<div class="scanbtn">
	<button ion-button block (click)="scan()">SCAN</button>
</div>
</ion-content>
	